<section id="newsletter" class="section-p1 section-m1 py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="newstext">
                    <h4>Sign Up for Newsletter</h4>
                    <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form col-md-6 d-flex flex-column-sm">
                    <input type="email" class="form-control" placeholder="Your Email Address">
                    <button class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</section>

