<footer class="section-p1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="logo" src="assets/img/logo.png" alt="logo">
                <h4>Contact</h4>
                <p><strong>Address:</strong> Lorem ipsum dolor sit amet.</p>
                <p><strong>Phone:</strong> 0293812093811/09128301</p>
                <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
                <div class="follow mt-3">
                    <h4>Follow us</h4>
                    <div class="d-flex gap-2">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4>About</h4>
                <ul class="list-unstyled">
                    <!-- <li><a [routerLink]="['/about']">About Us</a></li>
                    <li><a [routerLink]="['/delivery']">Delivery Information</a></li>
                    <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                    <li><a [routerLink]="['/terms']">Terms & Conditions</a></li>
                    <li><a [routerLink]="['/contact']">Contact Us</a></li> -->
                </ul>
            </div>
            <div class="col-md-3">
                <h4>My Account</h4>
                <ul class="list-unstyled">
                    <!-- <li><a [routerLink]="['/signin']">Sign In</a></li>
                    <li><a [routerLink]="['/cart']">View Cart</a></li>
                    <li><a [routerLink]="['/wishlist']">My Wishlist</a></li>
                    <li><a [routerLink]="['/track-order']">Track My Order</a></li>
                    <li><a [routerLink]="['/help']">Help</a></li> -->
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Install App</h4>
                <p>From App Store or Google Play</p>
                <div class="google-img">
                    <img class="me-2" src="assets/img/pay/app.jpg" alt="App Store" width="100">
                    <img src="assets/img/pay/play.jpg" alt="Google Play" width="100">
                </div>
                <p>Secured Payment Gateway</p>
                <img src="assets/img/pay/pay.png" alt="Payment Methods" width="200">
            </div>
        </div>
        <div class="text-center mt-4">
            <p>Copyright Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
</footer>
